SistemaAcademico.Presentacion.Web/Connected Services/MatriculacionService/MatriculacionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaAcademico.Presentacion.Servicios.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Presentacion.Servicios.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56364/Administracion/MatriculacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Negocio.Dto" />
  <xs:complexType name="RespuestaOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Presentacion.Servicios.Dto" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Datos" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRespuesta" type="tns:TipoRespuestaEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaOfint" nillable="true" type="tns:RespuestaOfint" />
  <xs:simpleType name="TipoRespuestaEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="ERROR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoRespuestaEnum" nillable="true" type="tns:TipoRespuestaEnum" />
  <xs:complexType name="RespuestaOfArrayOfMatriculacionEstudianteRespDto89vZh_Sq3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Presentacion.Servicios.Dto" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfMatriculacionEstudianteRespDto" Namespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Negocio.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaAcademico.Negocio.Dto" minOccurs="0" name="Datos" nillable="true" type="q1:ArrayOfMatriculacionEstudianteRespDto" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRespuesta" type="tns:TipoRespuestaEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaOfArrayOfMatriculacionEstudianteRespDto89vZh_Sq3" nillable="true" type="tns:RespuestaOfArrayOfMatriculacionEstudianteRespDto89vZh_Sq3" />
  <xs:complexType name="RespuestaOfMatriculacionEstudianteRespDto89vZh_Sq3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Presentacion.Servicios.Dto" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MatriculacionEstudianteRespDto" Namespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Negocio.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaAcademico.Negocio.Dto" minOccurs="0" name="Datos" nillable="true" type="q2:MatriculacionEstudianteRespDto" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRespuesta" type="tns:TipoRespuestaEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaOfMatriculacionEstudianteRespDto89vZh_Sq3" nillable="true" type="tns:RespuestaOfMatriculacionEstudianteRespDto89vZh_Sq3" />
  <xs:complexType name="RespuestaOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RespuestaOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Presentacion.Servicios.Dto" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Datos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRespuesta" type="tns:TipoRespuestaEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaOfstring" nillable="true" type="tns:RespuestaOfstring" />
</xs:schema>