SistemaAcademico.Presentacion.Web/Connected Services/MatriculacionService/MatriculacionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MatriculacionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IMatriculacionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56364/Administracion/MatriculacionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56364/Administracion/MatriculacionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56364/Administracion/MatriculacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Negocio.Dto" />
      <xsd:import schemaLocation="http://localhost:56364/Administracion/MatriculacionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Presentacion.Servicios.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatriculacionService_RegistrarEstudianteNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarEstudianteNuevo" />
  </wsdl:message>
  <wsdl:message name="IMatriculacionService_RegistrarEstudianteNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarEstudianteNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="IMatriculacionService_ConsultarEstudiantesMatriculados_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstudiantesMatriculados" />
  </wsdl:message>
  <wsdl:message name="IMatriculacionService_ConsultarEstudiantesMatriculados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstudiantesMatriculadosResponse" />
  </wsdl:message>
  <wsdl:message name="IMatriculacionService_ConsultarEstudianteMatriculado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstudianteMatriculado" />
  </wsdl:message>
  <wsdl:message name="IMatriculacionService_ConsultarEstudianteMatriculado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstudianteMatriculadoResponse" />
  </wsdl:message>
  <wsdl:message name="IMatriculacionService_ModificarEstudianteMatriculado_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEstudianteMatriculado" />
  </wsdl:message>
  <wsdl:message name="IMatriculacionService_ModificarEstudianteMatriculado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEstudianteMatriculadoResponse" />
  </wsdl:message>
  <wsdl:message name="IMatriculacionService_EliminarEstudianteMatriculado_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEstudianteMatriculado" />
  </wsdl:message>
  <wsdl:message name="IMatriculacionService_EliminarEstudianteMatriculado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEstudianteMatriculadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMatriculacionService">
    <wsdl:operation name="RegistrarEstudianteNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatriculacionService/RegistrarEstudianteNuevo" message="tns:IMatriculacionService_RegistrarEstudianteNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatriculacionService/RegistrarEstudianteNuevoResponse" message="tns:IMatriculacionService_RegistrarEstudianteNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstudiantesMatriculados">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatriculacionService/ConsultarEstudiantesMatriculados" message="tns:IMatriculacionService_ConsultarEstudiantesMatriculados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatriculacionService/ConsultarEstudiantesMatriculadosResponse" message="tns:IMatriculacionService_ConsultarEstudiantesMatriculados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstudianteMatriculado">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatriculacionService/ConsultarEstudianteMatriculado" message="tns:IMatriculacionService_ConsultarEstudianteMatriculado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatriculacionService/ConsultarEstudianteMatriculadoResponse" message="tns:IMatriculacionService_ConsultarEstudianteMatriculado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEstudianteMatriculado">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatriculacionService/ModificarEstudianteMatriculado" message="tns:IMatriculacionService_ModificarEstudianteMatriculado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatriculacionService/ModificarEstudianteMatriculadoResponse" message="tns:IMatriculacionService_ModificarEstudianteMatriculado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudianteMatriculado">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatriculacionService/EliminarEstudianteMatriculado" message="tns:IMatriculacionService_EliminarEstudianteMatriculado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatriculacionService/EliminarEstudianteMatriculadoResponse" message="tns:IMatriculacionService_EliminarEstudianteMatriculado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMatriculacionService" type="tns:IMatriculacionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarEstudianteNuevo">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/RegistrarEstudianteNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstudiantesMatriculados">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/ConsultarEstudiantesMatriculados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstudianteMatriculado">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/ConsultarEstudianteMatriculado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEstudianteMatriculado">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/ModificarEstudianteMatriculado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudianteMatriculado">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/EliminarEstudianteMatriculado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IMatriculacionService" type="tns:IMatriculacionService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IMatriculacionService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarEstudianteNuevo">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/RegistrarEstudianteNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstudiantesMatriculados">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/ConsultarEstudiantesMatriculados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstudianteMatriculado">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/ConsultarEstudianteMatriculado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEstudianteMatriculado">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/ModificarEstudianteMatriculado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudianteMatriculado">
      <soap:operation soapAction="http://tempuri.org/IMatriculacionService/EliminarEstudianteMatriculado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatriculacionService">
    <wsdl:port name="BasicHttpBinding_IMatriculacionService" binding="tns:BasicHttpBinding_IMatriculacionService">
      <soap:address location="http://localhost:56364/Administracion/MatriculacionService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IMatriculacionService" binding="tns:BasicHttpsBinding_IMatriculacionService">
      <soap:address location="https://localhost:44312/Administracion/MatriculacionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>