SistemaAcademico.Presentacion.Web/Connected Services/MatriculacionService/MatriculacionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaAcademico.Negocio.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaAcademico.Negocio.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MatriculacionEstudianteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PagoRealizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatriculacionEstudianteDto" nillable="true" type="tns:MatriculacionEstudianteDto" />
  <xs:complexType name="ArrayOfMatriculacionEstudianteRespDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatriculacionEstudianteRespDto" nillable="true" type="tns:MatriculacionEstudianteRespDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatriculacionEstudianteRespDto" nillable="true" type="tns:ArrayOfMatriculacionEstudianteRespDto" />
  <xs:complexType name="MatriculacionEstudianteRespDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEstudiante" type="xs:int" />
      <xs:element minOccurs="0" name="FechaMatriculacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatriculacionEstudianteRespDto" nillable="true" type="tns:MatriculacionEstudianteRespDto" />
</xs:schema>